@import "tailwindcss";

:root {
  /* Couleurs principales */
  --color-secondary: #332E3D;
  --color-background: #15101D;
  --color-text-primary: #FFF5F5;
  --color-text-secondary: #77747C;

  /* Typographie */
  --font-main: 'Inria Sans', sans-serif;
}

/* Styles de base */
body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Textes */
h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-primary);
  font-family: var(--font-main);
  font-weight: 700;
}

p, ul, ol, li {
  color: var(--color-text-primary);
}

/* Texte secondaire */
.text-secondary {
  color: var(--color-text-secondary);
}

/* Éléments avec couleur secondaire */
.bg-secondary {
  background-color: var(--color-secondary);
}

/* Liens */
a {
  color: deepskyblue;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-text-secondary);
}

.logo {
  font-family: Calibri, sans-serif;
  font-size: 2.5rem;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
  color: dimgray;
}